html{
  height: 100%;
}
body {
  height:  100%;
  min-height: 100%;
}
#root {
  height:  100%;
  min-height: 100%;
}
#main-wrapper {
  height:  100%;
  min-height: 100%;
}



#sidebar {
  height:  100%;
  min-height: 100%;
  background:  #f9f9f9;
  margin-left: -15em;
  border-right: 1px solid #eeeeee;
  transition: margin 0.30s ease-in-out;
  .sidebar-title {
    padding: 0.8em;
    font-size: 1.5em;
  }
  .list-group{
    width: 15em;
    .list-group-item{
    background:  #f9f9f9;
    border: none;
    border-radius: 0;
    }
  }
}

#content-wrapper {
  width: 100%;
  .content-dynamic{
    padding: 1em;
  }
}

#main-wrapper.toggled #sidebar {
  margin-left: 0;
}

// EXTERNAL PAGES
body.bg-blue {

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,196,180,1) 0%, rgba(1,157,255,1) 99%);
  }